*{
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
}

body{
    background-color: #3a5664;
}

.search{
    width: 100%;
    height: 200px;
    background-color: #1f2c34;
    padding-top: 10px;
}
.search .top{
    width: 98%;
    height: 40px;
    /* background-color: pink; */
    margin-left: auto;
    margin-right: auto;
}
.search .top img{
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 5px;
    cursor: pointer;
}
.search .top input{
    width: calc(100% - 50px);
    height: 30px;
    float: right;
    margin-top: 5px;
    border:none;
    outline: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color:#8a979f;
    background-color: transparent;
}

.search .bottom{
    width: 98%;
    height: 100px;
    /* background-color: pink; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 1px;
}
.search .bottom div{
    width:100%;
    height: 50px;
    /* background-color: blue; */
    margin-top: 1px;
}
.search .bottom div div{
    width:30%;
    height: 40px;
    display: inline-block;
    background-color: #26343d;
    float: left;
    margin: 5px;
    border-radius: 20px;
}
.search .bottom div div img{
    width: 35px;
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}
.search .bottom div div h4{
    float: left;
    line-height: 40px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color:#dae4ed;
}


.head{
    width: 98%;
    height: 50px;
    /* background-color: yellow; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.head .left{
    width: 200px;
    height: 50px;
    /* background-color: violet; */
    float: left;
}
.head .left h3{
    line-height: 50px;
    text-indent: 10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:#fbffff;
}
.head .right{
    width: 60px;
    height: 50px;
    /* background-color: violet; */
    float: right;
}
.head .right img{

    width: auto;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.nav{
    width: 100%;
    height: 50px;
    /* background-color: yellowgreen; */
    border-bottom: 3px solid #dad8d9;
    margin-top: 15px;
}
.nav .f{
    width: 50px;
    height: 50px;
    /* background-color: aqua; */
    text-align: center;
    float: left;
}
.nav .f img{
    width: 40px;
    height: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.nav .l{
    width: calc((100% - 50px) / 3);
    height: 50px;
    line-height: 50px;
    text-align: center;
    /* background-color: brown; */
    float: left;
}
.nav .l:hover{
    height: 47px;
    border-bottom: 3px solid #fbffff;
    
}
.nav .l:hover a{
    color: #fbffff;
    cursor: pointer;
}
.nav .l a{
    text-decoration: none;
    font-weight: 900;
    color: #c1c8d0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.arcive{
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 10px;
    cursor: pointer;
}
.arcive .icon{
    width: 50px;
    height: 50px;
    /* background-color: pink; */
    text-align: center;
    float: left;
}
.arcive .icon img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.arcive h4{
    float: left;
    line-height: 50px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
    font-weight: 600;
    color: #161b1f;
}
.arcive p{
    float: right;
    line-height: 50px;
    color: #42a674;
    margin-right: 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    width: 100%;
    height:calc(100vh - 210px);
    background-color: #ffffff;
    /* background-color: red; */
    overflow: auto;
}

.item{
    width: 95%;
    height: 50px;
    /* background-color: yellow; */
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 2s all;
}

.item:hover{
    cursor: pointer;
    background-color: rgb(199,194,194);
    border-radius: 5px;
}

.item img{
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
}

.item .info{
    width: auto;
    height: 50px;
    /* background-color: #4249a6; */
    float: left;
    margin-left: 10px;


}
.item .info h4{
    line-height: 25px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #080f15;
}
.item .info p{
    float: left;
    line-height: 25px;
    color: #6e7679;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    text-indent: 10px;
}
.item .info p img{
    width: 25px;
    height:auto;
}
.item .info p span{}

.item p{
    float: right;
    line-height: 25px;
    color: #6a7177;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.msj{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    z-index: 1;
    bottom: 15px;
    right: 15px;
}